  
html { 
  background: url("../img/nebula.jpg") no-repeat center center fixed; 
  background-size: cover;

  /*
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
}

h1 {
	opacity: 0.6;
	color: #ffffff;
	text-align: center;
	
	font-family: swfont,Garamond, serif;
	font-weight: bold;
	font-size: 40px;

  margin: 0px 0px;
}

@font-face {
    font-family: swfont;
    src: url("font/Starjout.ttf");
}
/* MATTHIAS CODE  */
body {
  background-color: pink;
}

.gameon {
  background-color: #009911;
}

#player_select {
  background-color: #1030ba;
  color: #99afca;
  padding: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.winning {
  background-color: black;
  color: white;
}

.boardcreation {
  background-color: #572389;
  padding: 20px;
}

#gameboard {
  font-size: 36px;
  font-family: 'Source Code Pro';
  text-align: center;
  background-color: #333333;
}

#gameboard a:hover {
  text-decoration: none;
  background-color: #99afca;
  color: #1030ba;
}

.xmark {
  background-color: black;
  color: white;
}

.omark {
  background-color: white;
  color: black;
}
